LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="immo_ad_enricher"

MODEL_OPENAI="gpt-4o-mini"
MODEL_EMBEDDING="text-embedding-3-large"

OPENAI_API_KEY="YOUR_KEY"
LANGCHAIN_API_KEY="YOUR_KEY"
